{% extends 'base.html.twig' %}

{% block title %}
    {{lesson.name}}
    / Study-on
{% endblock %}

{% block body %}
    <h2>{{lesson.name}}</h2>
    <p>Курс
        <a href="{{ path('course_show', {slug: lesson.course.slug}) }}">{{lesson.course.name}}</a>
    </p>
    {{ include('lesson/_form.html.twig', {'button_label': 'Сохранить'}) }}
{% endblock %}
